/* RESET */
*{margin: 0; padding:0;;font-size: 100%;font-family: 'Open Sans', sans-serif; font-weight: normal;
box-sizing:border-box;border:none; outline: none; }

img{max-width: 100%;}
ul{list-style:none;}
a{text-decoration: none;}
h2{font-size:1.5em; color: #333;}
p{font-size: 1em;color: #777;}

/* CABEÇALHO*/
.cabecalho {
	width:100%;
	float:left;
	padding: 50px 8%;
	background-color: #13c7ae;
}

.logo a{
	width: 221px;
	height: 48px;
	float: left;
	background: url(../img/logo.png) no-repeat;
	font-size: 0px;
}

.cabecalho form{
	width: 30%;
	float:right;
	
}
.cabecalho input[type="text"]{
	width: 85%;
	float:left;
	padding: 15px 10px;
	border-radius: 5px 0px 0px 5px;/*deixa a borda arredondada da ponta de cima e de baixo do lado esquerdo da busca*/
}

.cabecalho button{
	width: 15%;
	padding: 15px;
	border-radius: 0px 5px 5px 0px;/*deixa a borda arredondada da ponta de cima e de baixo do lado direito da busca*/
}

/*MENU*/
.menu{
	width: 100%;
	background-color: #111;
	float: left;
	padding: 18px 8%;
	
}
.menu li{
	float: left; /*faz a lista ficar de lado e nao abaixo */	
}
.menu li a{
	color: #9d9d9d;
	margin-right: 25px;
	
}
.menu li a:hover{
	color: #fff;/* quando o mouse passar muda a cor para branco*/
}

/*Social Icons */
.social-icons{
	float: right;
}

.social-icons a{
	color:#fff;
	margin-left: 25px;

}
.fb:hover{
	color:#3b5998;
}

.tt:hover{
	color: #54a4d6;;
}

.goo:hover{
	color:#D73D32;
}

/*CONTEUDO PRINCIPAL */
.conteudo-principal{
	width:100%;
	float:left;
	padding:20px 8%;
}
.sobre{
	width: 70%;
	float:left;
	padding:0 20px 20px 0;
}
.sobre h2{
	margin-bottom: 15px;
}
.sobre img{
	width:50%;
	float:left;
	border-radius:5px;
	margin: 0 15px 15px 0;
}